*, *::before, *::after{ transition: all 0.3s linear}
.inflex-sticky-header{ margin-top: 50px;}
.inflex-sticky-header .inflex-header{position: fixed; top: 0; right: 0; left: 0;}

ul, li{ list-style: none} ul{margin: 0; padding: 0}

textarea[resize="false"]{ resize: none}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {/* Track */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{/* Handle */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:hover{background: rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.0); 
}

/* Border Radius */
.radius-1{ border-radius: 0.2em}
.radius-2{ border-radius: 0.3em}
.radius-3{ border-radius: 0.4em}
.radius-4{ border-radius: 0.5em}
.radius-5{ border-radius: 1em}
.radius-100{ border-radius: 100%}
.radius-0{ border-radius: unset} 
.radius-b-0{ border-bottom-left-radius: 0; border-bottom-right-radius: 0}
.radius-t-0{ border-top-left-radius: 0; border-top-right-radius: 0}
.radius-lb-0{ border-bottom-left-radius: 0}
.radius-rb-0{ border-bottom-right-radius: 0}
.radius-lt-0{ border-top-left-radius: 0}
.radius-rt-0{ border-top-right-radius: 0}

.radius-b-1{ border-bottom-left-radius: 0.2em; border-bottom-right-radius: 0.2em}
.radius-t-1{ border-top-left-radius: 0.2em; border-top-right-radius: 0.2em}
.radius-lb-1{ border-bottom-left-radius: 0.2em}
.radius-rb-1{ border-bottom-right-radius: 0.2em}
.radius-lt-1{ border-top-left-radius: 0.2em}
.radius-rt-1{ border-top-right-radius: 0.2em}

.radius-b-2{ border-bottom-left-radius: 0.3em; border-bottom-right-radius: 0.3em}
.radius-t-2{ border-top-left-radius: 0.3em; border-top-right-radius: 0.3em}
.radius-lb-2{ border-bottom-left-radius: 0.3em}
.radius-rb-2{ border-bottom-right-radius: 0.3em}
.radius-lt-2{ border-top-left-radius: 0.3em}
.radius-rt-2{ border-top-right-radius: 0.3em}


/* z-index */
.zIndex-1{ z-index: 9}
.zIndex-2{ z-index: 99}
.zIndex-3{ z-index: 999}
.zIndex-4{ z-index: 999}
.zIndex-5{ z-index: 1000}
.zIndex-6{ z-index: 1001}
.zIndex-7{ z-index: 1002}
.zIndex-8{ z-index: 1003}
.zIndex-9{ z-index: 1004}
.zIndex-99{ z-index: 9999}



/* Tooltip */
[inflex-tooltip]{ position: relative; line-height:normal }
[inflex-tooltip]::before { content: attr(inflex-tooltip); position: absolute; font-size: 0.8em; padding: 1px 8px;
    color: white; background: rgba(0, 0, 0, 0.75); border-radius: 4px; z-index: 99999; 
    text-align: left; opacity: 0; visibility: hidden; line-height: 24px; width: auto; min-width: max-content}
[inflex-tooltip][inflex-tooltip-position="top"]::before{left: 50%; bottom: 100%; top:auto;transform: translateX(-50%);} 
[inflex-tooltip][inflex-tooltip-position="right"]::before{left:48px; right: auto; top: 13px;transform: translateX(0);}
[inflex-tooltip][inflex-tooltip-position="bottom"]::before{left: 50%; top: auto; bottom: -15px;transform: translateX(-50%);}
[inflex-tooltip][inflex-tooltip-position="left"]::before{left:auto; right: 48px; top:13px;transform: translateX(0);}
[inflex-tooltip]:hover::before { opacity: 1; visibility: visible}

/* height */
body, html, .h-100vh-md{/* height: 100vh;*/ height: calc(100vh - 50px) !important}
.h-100vh{ height: 100vh}
.h-100vh-xs{ height: calc(100vh - 12px)}
.h-100vh-sm{ height: calc(100vh - 25px)}
.h-100vh-md{ height: calc(100vh - 50px)}
.h-100vh-lg{ height: calc(100vh - 100px)}
.h-100vh-xl{ height: calc(100vh - 150px)}


/* hover */
[inflex-hover]{ position: relative}
[inflex-hover]:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-radius: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255,255,255,0.05);
}
[inflex-hover="white"]:after, .active[inflex-hover] {background: rgba(255,255,255,0.05);}
[inflex-hover="grey"]:after, .active[inflex-hover] {background: rgba(0,0,0,0.05);}
[inflex-hover]:focus:after{
    width: 100%;
    height: 100%;
    opacity: 1;
}

/* scroll */

.scrollbar{overflow:hidden; overflow-y: scroll}
.close-btn{ width: 40px; height: 40px; line-height: 40px; text-align: center}


/* Tabs 
[inflex-tab]:not(:target) {position: relative; z-index: 0; height: 0; overflow: hidden;}
[inflex-tab]:target { position: relative; z-index: 1; height: auto; overflow: hidden;}
[inflex-tab]:not(:target) > * { opacity: 0;}
[inflex-tab]:not(:target) > *:nth-child(1){transform: translateY(100px);}
[inflex-tab]:not(:target) > *:nth-child(2){transform: translateY(200px);}
[inflex-tab]:not(:target) > *:nth-child(3){transform: translateY(300px);}
[inflex-tab]:target > * { transition: all 1s ease; opacity: 1; transform: translateY(0);}
*/
[inflex-tab]{position: relative; z-index: 0; height: 0; overflow: hidden;}
[inflex-tab="on"]{position: relative; z-index: 1; height: auto; overflow: hidden;}
[inflex-tab] > * { opacity: 0;}
[inflex-tab] > *:nth-child(1){transform: translateY(100px);}
[inflex-tab] > *:nth-child(2){transform: translateY(200px);}
[inflex-tab] > *:nth-child(3){transform: translateY(300px);}
[inflex-tab] > *:nth-child(4){transform: translateY(400px);}
[inflex-tab="on"] > * { transition: all 1s ease; opacity: 1; transform: translateY(0) !important;} 

[inflex-show]{position: relative; z-index: 0; height: 0 !important; overflow: hidden; opacity: 0;}
[inflex-show="on"]{ position: relative; z-index: 1; height: auto !important; overflow: hidden; opacity: 1;}

/* Sidebars */
@media only screen and (max-width: 991px) {
    .inflex-optionsbar{ position: fixed; right: 0; top: 50px; transform: translate(0, 0); height: calc(100vh - 50px); width: 50px; background: #fff}
    .inflex-optionsbar.on{transform: translate(0, 0);}
}
@media only screen and (max-width: 767px) {
    .inflex-optionsbar{ position: fixed;transform: translate(0, 0); max-height: 50px; top: auto; left: 0; right: 0; bottom: 0}
    .inflex-optionsbar.on{transform: translate(0, 0);}
    .options-detail{ display: none}
    .inflex-optionsbar > .flex-holder > .h-100vh-md{ height: auto; width: 100%}
    .scrollbar{ overflow:hidden;overflow-y: scroll}
}
